---
import BackIcon from "../assets/icons/BackIcon.astro";

export interface Props {
    title: string;
    subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="flex items-center gap-4">
    <a href="../" class="rounded-full p-2 hover:bg-gray-50/20">
        <BackIcon />
    </a>
    <div>
        <strong class="text-lg font-medium">{title}</strong>
        {subtitle && <p class="text-sm font-light">{subtitle}</p>}
    </div>
</div>
